.common-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.website-layout {
  header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 50;
    border-bottom: 1px solid hsl(var(--border));
    background-color: hsl(var(--background) / .95);

    .header-container {
      padding: 0 24px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .left-part {
      display: flex;
      align-items: center;
    }

    .logo {
      display: flex;
      align-items: center;
      column-gap: 8px;
      .my-name {
        font-size: 14px;
        color: hsl(var(--text-plus));
        font-weight: 600;
        text-decoration: none;
        font-family: var(--font-code);
      }
    }

    nav {
      display: flex;
      margin-left: 32px;
      column-gap: 24px;
      a {
        color: hsl(var(--text-primary));
      }
    }
  }

  footer {
    width: 100%;
    border-top: 1px solid hsl(var(--border));
    .footer-container {
      padding: 16px 24px;
      font-size: 14px;
      color: hsl(var(--text-secondary));
    }
  }

  main {
    min-height: calc(100vh - 104px);
  }
}

@supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(0px)) {
  .website-layout header {
    background-color: hsl(var(--background) / .6);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}