.bulleted-list-item {
  color: hsl(var(--text-primary));
  font-size: 16px;
  line-height: 1.6;
  padding-left: 22px;
  margin: 12px 0;
  position: relative;
  &::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: hsl(var(--text-primary));
    position: absolute;
    top: 9px;
    left: 6px;
  }
}