.playstation-trophy {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-code);
  &.small {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    column-gap: 4px;
  }
  &.normal {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    column-gap: 4px;
  }
  &.large {
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    column-gap: 6px;
  }
}