.notion-bulleted-list-item {
  color: hsl(var(--foreground));
  font-size: 14px;
  line-height: 1.5;
  padding-left: 16px;
  margin: 6px 0;
  position: relative;
  &::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: hsl(var(--border));
    position: absolute;
    top: 8px;
    left: 4px;
  }
}