@layer base {

  /* 色板 */
  :root {
    --white: 0 0% 100%;
    --zinc-50: 0 0% 98%;
    --zinc-100: 240 4.8% 95.9%;
    --zinc-200: 240 5.9% 90%;
    --zinc-300: 240 4.9% 83.9%;
    --zinc-400: 240 5% 64.9%;
    --zinc-500: 240 3.8% 46.1%;
    --zinc-600: 240 5.2% 33.9%;
    --zinc-700: 240 5.3% 26.1%;
    --zinc-800: 240 3.7% 15.9%;
    --zinc-900: 240 5.9% 10%;
    --zinc-950: 240 10% 3.9%;

    --red-400: 0 90.6% 70.8%;
    --red-600: 0 72.2% 50.6%;

    --blue-600: 221.2 83.2% 53.3%;
    --blue-700: 224.3 76.3% 48%;
    --blue-800: 225.9 70.7% 40.2%;
    --blue-900: 224.4 64.3% 32.9%;
    --blue-950: 226.2 57% 21%;

    --yellow-500: 45.4 93.4% 47.5%;
    --yellow-700: 35.5 91.7% 32.9%;
  }

  :root {
    /* 背景色 */
    --background: var(--white);
    --border: var(--zinc-200);
    --code: var(--zinc-800);
    /* 前景色 */
    --text-plus: var(--zinc-950);
    --text-primary: var(--zinc-800);
    --text-secondary: var(--zinc-400);
    --text-code: var(--red-600);
  }

  .dark {
    /* 背景色 */
    --background: var(--zinc-950);
    --border: var(--zinc-800);
    /* 前景色 */
    --text-plus: var(--zinc-50);
    --text-primary: var(--zinc-100);
    --text-secondary: var(--zinc-600);
    --text-code: var(--red-400);
  }

  :root {
    --radius: 4px;
    --font-code: Menlo, Monaco, var(--font-mono)
  }

  /* 代码高亮 */
  :root {
    --code-background: rgb(31, 31, 31);
    .token.comment,
    .token.block-comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: rgb(106, 153, 85);
    }
    .token.selector,
    .token.important,
    .token.atrule,
    .token.keyword {
      color: rgb(86, 156, 214);
    }
    .token.builtin {
      color: rgb(156, 220, 254);
    }
    .token.string {
      color: rgb(206, 145, 120);
    }
    .token.class-name {
      color: rgb(78, 201, 176);
    }
    .token.boolean,
    .token.number,
    .token.function {
      color: rgb(220, 220, 170);
    }
  }
}
