
.article-header {
  .article-time {
    font-size: 12px;
    color: hsl(var(--text-secondary));
    margin-bottom: 6px;
  }
  .article-title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: hsl(var(--text-plus));
  }
}
