.notion-rich-text {
  &.bold {
    font-weight: 600;
  }
  &.code {
    padding: 0 2px;
    border-radius: var(--radius);
    color: hsl(var(--text-code));
    &::before, &::after {
      content: "`";
    }
  }
  &.href {
    color: var(--text-primary);
  }
}