.notion-code {
  font-size: 12px;
  margin: 6px 0;
  padding: 12px;
  border-radius: var(--radius);
  background-color: var(--code-background);
  overflow-y: auto;
  line-height: 1.6;
}

.notion-code code {
  font-family: var(--font-code);
  color: hsl(var(--white));
}