.heading {
  color: hsl(var(--text-plus));
  line-height: 1.5;
  font-weight: 500;
}
h1.heading {
  font-size: 22px;
  margin: 20px 0 6px 0;
}
h2.heading {
  font-size: 20px;
  margin: 16px 0 6px 0;
}
h3.heading {
  font-size: 18px;
  margin: 12px 0 6px 0;
}