.abort-welcome {
  display: flex;
  align-items: flex-end;
  column-gap: 24px;
  vertical-align: bottom;
  margin-bottom: 40px;
  strong {
    font-size: 20px;
    font-style: italic;
  }
}

.who-am-i {
  display: flex;
}